<div class="border-b-8 border-[#140E66] rounded-[14%]">
<fieldset class="w-[90vw] md:w-[60vw] lg:w-[40vw] xl:w-[30vw] h-[90vw] md:h-[60vw] lg:h-[40vw] xl:h-[30vw] bg-rectangleBg rounded-[12%] bg-no-repeat bg-center flex flex-col justify-center items-center gap-12 lg:gap-16 lg:-mt-32 border-t-8 border-[#2463FF]">
      <legend class="w-full flex justify-center items-center">
        <img src="/assets/images/logo.svg" class="h-20 lg:h-32 md:w-48 lg:w-60"/>
      </legend>

      <a
      (click)="start()" 
        class="border-b-4 border-x-2 border-[#243041] rounded-full cursor-pointer duration-75 hover:scale-105 active:scale-95">
        <div class="bg-gradient-to-b from-[#FE71FE] to-[#7199FF] p-6 xl:p-8 rounded-full border-b-4 border-x-2 border-[#9D2DF5]">
        <img src="/assets/images/icon-play.svg" width="1000" height="1000" class="h-8 w-8"/>
      </div>
    </a>

      <a
        (click)="gotToInstruction()"
       class="rounded-full border-b-4 border border-[#243041] cursor-pointer duration-75 hover:scale-105 active:scale-95">
      <div class="bg-[#5B8AFF] px-12 py-4 border-t-4 border-x-2 border-[#3B74FF] rounded-full text-xl md:text-3xl text-white">
          HOW TO PLAY
      </div>
    </a>
    </fieldset>
</div>