@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: 0.3s ease-in-out all;
    font-family: "Mouse Memoirs", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #243041;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}